/*
==========================================================
                     Fonts
==========================================================
*/

@font-face {
  font-family: 'Aktiv Grotesk';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/aktiv-grotesk/AktivGrotesk_W_Lt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/aktiv-grotesk/AktivGrotesk_W_Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/aktiv-grotesk/AktivGrotesk_W_Lt.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/aktiv-grotesk/AktivGrotesk_W_Lt.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'Aktiv Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/aktiv-grotesk/AktivGrotesk_W_Rg.eot'); /* IE9 Compat Modes */
    src: url('../fonts/aktiv-grotesk/AktivGrotesk_W_Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/aktiv-grotesk/AktivGrotesk_W_Rg.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/aktiv-grotesk/AktivGrotesk_W_Rg.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'Aktiv Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/aktiv-grotesk/AktivGrotesk_W_Md.eot'); /* IE9 Compat Modes */
    src: url('../fonts/aktiv-grotesk/AktivGrotesk_W_Md.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aktiv-grotesk/AktivGrotesk_W_Md.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/aktiv-grotesk/AktivGrotesk_W_Md.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'Aktiv Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/aktiv-grotesk/AktivGrotesk_W_Bd.eot'); /* IE9 Compat Modes */
    src: url('../fonts/aktiv-grotesk/AktivGrotesk_W_Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/aktiv-grotesk/AktivGrotesk_W_Bd.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/aktiv-grotesk/AktivGrotesk_W_Bd.woff') format('woff'); /* Modern Browsers */
}